.big-header {
    text-align: center;
    font-size: 18px;
}

.authorize--input {
    margin-top: 12px;
}

.big-header + .small-header{
    margin-top: 40px;
}

.primary--authorize {
    margin-top: 40px;
}