<div class="page--flex-element">
    <div class="content">
        <div class="back--container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Новое объявление</h5>
        </div>
        <div class="content--elements">
            <h5 class="big-header">Выберете доступное время для аренды</h5>
            <h5 class="small-header">Дни</h5>
            <input class="authorize--input" type="date">
            <h5 class="small-header">Время</h5>
            <input class="authorize--input" type="time">
            <button class="primary--authorize">
                <h5 class="medium-header">Выложить объявление</h5>
            </button>
        </div>
    </div>
</div>
