<div class="flex-centered">
    <div class="content">
        <div [routerLink]="['/advert-create']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header -back">Новое объявление</h5>
        </div>
        <form class="content__elements">
            <h4 class="big-header -content">Выберете доступное время для аренды</h4>
            <h5 class="small-header">Дни (максимум 14 дней)</h5>
            <mat-form-field class="date-picker" appearance="fill">
                <mat-label class="date-picker__element">Введите диапазон дней</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input class="date-picker__element" matStartDate formControlName="start"
                        placeholder="Начальный день">
                    <input class="date-picker__element" matEndDate formControlName="end" placeholder="Конечный">
                </mat-date-range-input>
                <mat-hint class="date-picker__element">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <h5 class="small-header">Время аренды</h5>
            <h5 class="small-header -transparent">Начальное время</h5>
            <input #selectorStart="ngModel" [(ngModel)]="startTime" [ngxTimepicker]="startPicker" [format]="24" readonly
                name="startTime" class="authorize-input" type="time" required>
            <ngx-material-timepicker #startPicker></ngx-material-timepicker>
            <div class="valid-container" *ngIf="selectorStart.invalid && selectorStart.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header -transparent">Конечное время</h5>
            <input #selectorEnd="ngModel" [(ngModel)]="endTime" [ngxTimepicker]="endPicker" [format]="24" readonly
                name="endTime" class="authorize-input" type="time" required>
            <ngx-material-timepicker #endPicker></ngx-material-timepicker>
            <div class="valid-container" *ngIf="selectorEnd.invalid && selectorEnd.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <button (click)="create()" class="primary-authorize">
                <h5 class="medium-header">Выложить объявление</h5>
            </button>
        </form>
    </div>
</div>