<div class="flex-centered">
    <div class="content">
        <div [routerLink]="['/advert-info']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Редактирование объявление</h5>
        </div>
        <form class="content__elements">
            <h5 class="small-header">Название техники</h5>
            <input #slectorName="ngModel" [(ngModel)]="advertUpdate.name" name="name" class="authorize-input" type="text" placeholder="Введите название техники" required>
            <div class="valid-container" *ngIf="slectorName.invalid && slectorName.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header">Цена в час</h5>
            <input #slectorPrice="ngModel" [(ngModel)]="advertUpdate.price" name="price" class="authorize-input" type="number" placeholder="Введите цену" required>
            <div class="valid-container" *ngIf="slectorPrice.invalid && slectorPrice.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header">Описание объявления</h5>
            <textarea [(ngModel)]="advertUpdate.description" name="description" class="advert-textarea" placeholder="Введите описание"></textarea>
            <h5 class="small-header">Добавьте фотографию</h5>
            <div class="photo-container">
                <div *ngFor="let image of advertUpdate.images" class="photo__list">
                    <img (click)="removeFromDownloadImages(image)" *ngIf="image.path != ''" src="{{image.path}}" class="photo-element" alt="Изображение строительной техники">
                </div>
                <div *ngFor="let fileBase64 of filesBase64" class="photo__list"> 
                    <img (click)="removeFromDUploadImages(fileBase64)" src="{{fileBase64}}" class="photo-element" alt="Изображение строительной техники">
                </div>
                <div (click)="uploadImage()" class="photo-download">
                    <img src="assets/photo.png">
                    <p class="primary-text">Добавить</p>
                </div>
            </div>
            <input (change)="download($event)" id="SelectImage" type="file" accept="image/*">
            <button (click)="crossingToAvailiableTime()" class="primary-authorize">
                <h5 class="medium-header">Продолжить</h5>
            </button>
        </form>
    </div>
</div>
