.header {
    display: flex;
    padding: 19px 28px;
    flex-direction: column;
    background: var(--color-secondary-button);
}

.header_logo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.header_seach-form {
    display: inline-flex;
    border: 1px solid black;
    background: var(--color-primary-text);
    border-radius: 5px;
    padding: 10px;
}

.header_search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
}

.header_seach {
    margin-left: 20px;
    width: 300px;
    font-size: 16px;
    color: var(--color-secondary-button);
    background: transparent;
    border: 0; 
}