.big-header {
    color: var(--color-primary-button);
    margin-bottom: 5px;
}

.big-header.-notice {
    color: var(--color-invalid-text);
    padding: 20px;
    text-align: center;
}

.vector {
    border: 1px solid rgba(22, 22, 22, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 19px;
}

.publish-time {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    &__element {
        display: flex;
        flex-direction: column;
    }
}

.primary-authorize {
    margin-top: 31px;
}

.day-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.small-header {
    margin-top: 12px;

    &.-time {
        margin-top: 0;
        margin-bottom: 5px;
        opacity: 0.7;

        &.-right {
            text-align: end;
        }

        &.-white {
            opacity: 1;
        }
    }

    &.-top {
        margin-top: 0;
    }
}

.content__elements.-reviews {
    padding-top: 0;
}

.primary-text {
    margin-left: 12px;

    &.-yellow {
        color: #FFFF44;
    }

    &.-red {
        color: #FF4444;
    }

    &.-green {
        color: #44FF44;
    }
}

.-desktop {
    display: none;
}

.button-section {
    display: none;
}

.vector.-width {
    width: 100%;
}

@media (min-width: 600px) {

    .content__elements {
        flex-direction: row;
        background: var(--color-background);
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.4);
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .content__elements.-reviews {
        margin-bottom: 20px;
    }

    .content__info {
        flex: 1;
    }

    .content__info + .content__info {
        margin-left: 30px;
    }

    .title-info {
        margin-bottom: 15px;
    }

    .-desktop {
        display: block;
    }

    .-mobile {
        display: none;
    }

    .button-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primary-authorize {
        width: 100%;
        max-width: 350px;
    }

    .edit-button {
        width: 100%;
        max-width: 350px;
    }
}

@media (min-width: 780px) {
    .content__info + .content__info {
        margin-left: 60px;
    }
}

@media (min-width: 680px) {
    .content__gallery {
        display: flex;
        justify-content: center;
    }
}