.big-header {
    color: var(--color-primary-button);
}

.vector {
    border: 1px solid rgba(22, 22, 22, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 19px;
}

.primary--authorize {
    margin-top: 31px;
}

.day--list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.time--list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}