.big-header {
    color: var(--color-primary-button);
    margin-bottom: 5px;
}

.vector {
    border: 1px solid rgba(22, 22, 22, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 19px;
}

.publish-time {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    &__element {
        display: flex;
        flex-direction: column;
    }
}

.primary-authorize {
    margin-top: 31px;
}

.day-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.small-header {
    margin-top: 12px;

    &.-time {
        margin-top: 0;
        margin-bottom: 5px;
        opacity: 0.7;

        &.-right {
            text-align: end;
        }

        &.-white {
            opacity: 1;
        }
    }

    &.-top {
        margin-top: 0;
    }
}

.primary-text {
    margin-left: 12px;

    &.-yellow {
        color: #FFFF44;
    }

    &.-red {
        color: #FF4444;
    }

    &.-green {
        color: #44FF44;
    }
}