.authorize-input {
    margin-top: 12px;
}

.valid-container+.small-header {
    margin-top: 16px;
}

.advert-textarea {
    margin-top: 12px;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__close {
        z-index: 1;
        position: absolute;
        top: 12px;
        right: 2px;
        width: 20px;
        height: 20px;
        background-image: url("/assets/close.gif");
        background-size: cover;
    }

    &__download {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 130px;
        min-height: 100px;
        padding: 17px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
    }

    &__element {
        max-width: 150px;
        min-height: 100px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        object-fit: cover;
    }
}

.primary-text.-download {
    margin-top: 15px;
}

.photo__list+.photo__download {
    margin-left: 10px;
}

#SelectImage {
    visibility: hidden;
}

.advert__sections {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.advert__fields {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.advert__fields + .advert__fields {
    margin-top: 16px;
}

.advert__interact {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

@media (min-width: 600px) {
    .content__elements {
        background: #373737;
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .advert__sections {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }

    .advert__fields+.advert__fields {
        margin-top: 0;
        margin-left: 20px;
    }

    .advert__fields {
        &.-left {
            flex: 5;
        }

        &.-right {
            flex: 6;
        }
    }

    .advert__interact {
        align-items: center;
        margin-top: 25px;
    }

    .primary-authorize {
        width: 320px;
    }
}

@media (min-width: 750px) {
    .advert__sections {
        padding: 0 30px;
    }

    .advert__fields+.advert__fields {
        margin-left: 40px;
    }
}

@media (min-width: 850px) {
    .advert__sections {
        padding: 0 50px;
    }

    .advert__fields+.advert__fields {
        margin-left: 60px;
    }
}

@media (min-width: 950px) {
    .advert__fields+.advert__fields {
        margin-left: 80px;
    }
}