<div class="flex-container">
    <div class="content">
        <div [routerLink]="['/my-adverts']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Новое объявление</h5>
        </div>
        <div class="content__elements">
            <h5 class="small-header">Название техники</h5>
            <input [(ngModel)]="name" class="authorize-input" type="text" placeholder="Введите название техники">
            <h5 class="small-header">Цена в час</h5>
            <input [(ngModel)]="price" class="authorize-input" type="number" placeholder="Введите цену">
            <h5 class="small-header">Описание объявления</h5>
            <textarea [(ngModel)]="description" class="advert-textarea" placeholder="Введите описание"></textarea>
            <h5 class="small-header">Добавьте фотографию</h5>
            <div class="photo-container">
                <div *ngIf="image == undefined" (click)="UploadImage()" class="photo-download">
                    <img src="assets/photo.png">
                    <p class="primary-text">Добавить</p>
                </div>
                <div *ngIf="image != undefined" (click)="UploadImage()" class="photo-download">
                    <img src="assets/photo.png">
                    <p class="primary-text">Изменить</p>
                </div>
            </div>
            <input (change)="Download($event)" id="SelectImage" type="file">
            <button (click)="CrossingToAvailiableTime()" class="primary-authorize">
                <h5 class="medium-header">Продолжить</h5>
            </button>
        </div>
    </div>
</div>