.technique-type {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &__group {
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
    }

    &__element {
        display: flex;
        flex-direction: column;
        width: 140px;
        padding: 18px;
        border-radius: 15px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.35);
        background: #E8E8E8;
    }
}

.small-header.-type {
    text-align: center;
    font-weight: 600;
    color: var(--color-secondary-button);
}

.technique-type__element img + .small-header {
    margin-top: 15px;
}