<div class="flex-centered">
    <div class="content">
        <div class="content__elements">
            <h5 class="big-header -content">Предлагаем в аренду следующие виды спецтехники:</h5>
            <div class="content__wrap">
                <div class="technique-type" *ngFor="let technique of techniqueObject.techniqueList">
                    <div (click)="search(technique.search)" class="technique-type__element">
                        <img src={{technique.url}}>
                        <h6 class="small-header -type">{{technique.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>