.content__elements {
    align-items: center;
}

.content__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technique-type {
    display: flex;
    margin: 10px 10px;

    &__element {
        display: flex;
        flex-direction: column;
        width: 140px;
        padding: 12px;
        border-radius: 15px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.35);
        background: #E8E8E8;
    }
}

.small-header.-type {
    text-align: center;
    font-weight: 600;
    color: var(--color-secondary-button);
}

.technique-type__element img + .small-header {
    margin-top: 15px;
}

.big-header.-content {
    margin-bottom: 23px;
}