<div class="flex-container">
    <div class="content">
        <div class="content__elements">
            <h6 class="big-header">Предлагаем в аренду следующие виды спецтехники:</h6>
            <div class="technique-type" *ngFor="let technique of techniqueObject.techniqueList">
                <div class="technique-type__group">
                    <div class="technique-type__element">
                        <img src={{technique.first_url}}>
                        <h4 class="small-header">{{technique.first_name}}</h4>
                    </div>
                    <div class="technique-type__element">
                        <img src={{technique.second_url}}>
                        <h4 class="small-header">{{technique.second_name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>