<div class="navigation">
    <a (click)="SidenavEvent()" [routerLink]="['/advert-list']" class="navigation--hyperlink">Объявления</a>
    <div class="navigation--vector"></div>
    <a (click)="SidenavEvent()" [routerLink]="['/private-area']" class="navigation--hyperlink">Личный кабинет</a>
    <div class="navigation--vector"></div>
    <a class="navigation--hyperlink">Контакты</a>
    <div class="navigation--vector"></div>
    <a class="navigation--hyperlink">О компании</a>
    <div class="navigation--vector"></div>
    <a class="navigation--hyperlink">Документы</a>
    <div class="navigation--vector"></div>
    <a (click)="SidenavEvent()" [routerLink]="['/authorize']" class="forgot-password">Вход/Регистрация</a>
</div>
