.filter-content {
    display: flex;
    flex-direction: column;
    padding: 16px;

    &__close {
        display: flex;
        justify-content: flex-end;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__element {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;
    }
}

.big-header {
    text-align: center;
}

.medium-header {
    margin-right: 5px;
}