.list-section__category {
    display: none;
}

.micro-text.-desktop {
    display: none;
}

.property-filter {
    display: none;
}

.big-header.-line {
    border-bottom: 3px solid rgba(22, 22, 22, 0.3);
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.big-header.-selected {
    color: var(--color-primary-button)
}

.date-picker {
    margin-top: 12px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0 0 8px 0;

    &__element {
        color: var(--color-primary-text);
    }
}

.authorize-input {
    margin-top: 12px;
    
    &.-left {
        margin-right: 20px;
    }
}

.time-picker {
    display: flex;
}

.time-picker .authorize-input {
    width: 100%;
}

.date-picker + .small-header {
    margin-top: 12px;
}

.time-picker + .small-header {
    margin-top: 12px;
}

.secondary-authorize {
    margin-top: 12px;
    margin-bottom: 12px;
}

.-filterhide {
    display: none;
}

.valid-container {
    margin-bottom: 12px;
}

.edit-button {
    margin-top: 12px;
}

.property-filter {
    display: none;
    flex: 1;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 20px;

    &.-mobile {
        display: flex;
        padding: 10px;
        margin-top: 10px;
    }
}

.big-header.-center {
    &.-center {
        text-align: center;
    }
    &.-mobile {
        margin-bottom: 10px;
    }
}

@media (min-width: 500px) {

    .content__filter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .select-filter {
        min-width: 400px;
    }

    .micro-text {
        margin-top: 10px;
        font-size: 12px;

        &.-desktop {
            display: block;
            margin-bottom: 13px;
        }
    }
}

@media (min-width: 780px) {
    .property-filter {
        display: flex;

        &.-mobile {
            display: none;
        }
    }

    .list-section {
        display: flex;
    }

    .list-section__content {
        width: 100%;
        margin-top: 26px;
    }

    .list-section__category {
        display: block;

        &.-hide {
            width: 0;
            margin-right: 0;
        }
    }

    .category__content {
        max-width: 165px;
    }

    .content__filter {
        display: flex;
        align-items: end;
        flex-direction: column;
        background: var(--color-background);
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding: 20px;
    }

    .filter__section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filter-group {
        flex-direction: column;
        align-items: stretch;
        margin-top: 13px;
    }

    .filter {
        display: none;
    }

    .select-filter {
        flex: 1;
        min-width: 0;
    }

    .micro-text {
        margin-top: 10px;
        font-size: 12px;

        &.-desktop {
            display: block;
            text-align: end;
            margin-bottom: 13px;
        }
    }
}

@media (min-width: 900px) {
    .filter-group {
        justify-content: space-between;
        flex-direction: row;
        align-items: end;
    }

    .property-filter {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .select-filter {
        max-width: 400px;
    }
}