<div class="flex-centered">
    <div class="content">
        <form class="content__elements">
            <h4 class="big-header -content">{{this.titleService.getTitle()}}</h4>
            <h5 class="small-header">Email пользователя</h5>
            <input id="email" [ngClass]="{ '-invalid': invalidEmail }" (click)="invalidEmail = resetValidFlag()"
                #slectorEmail="ngModel" [(ngModel)]="email" name="email" class="authorize-input" type="email"
                placeholder="Email" maxlength="100" required>
            <div class="valid-container" *ngIf="slectorEmail.invalid && slectorEmail.touched || invalidEmail">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p *ngIf="!invalidEmail" class="valid-container__text">Обязательное поле для заполнения</p>
                <p *ngIf="invalidEmail" class="valid-container__text">{{messageEmail}}</p>
            </div>
            <h5 class="small-header">Пароль пользователя</h5>
            <input id="password" [ngClass]="{ '-invalid': invalidPassword }" (click)="invalidPassword = resetValidFlag()"
                #slectorPassword="ngModel" [(ngModel)]="password" name="password" class="authorize-input"
                type="password" placeholder="Пароль" maxlength="100" required>
            <div class="valid-container" *ngIf="slectorPassword.invalid && slectorPassword.touched || invalidPassword">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p *ngIf="!invalidPassword" class="valid-container__text">Обязательное поле для заполнения</p>
                <p *ngIf="invalidPassword" class="valid-container__text">{{messagePassword}}</p>
            </div>
            <button (click)="login()" class="primary-authorize">
                <h5 class="medium-header">Войти</h5>
            </button>
            <button [routerLink]="['/registration']" class="secondary-authorize">
                <h5 class="medium-header">Зарегистрироваться</h5>
            </button>
            <div class="social-network">
                <div class="social-network__element">
                    <img class="google-image" src="assets/google.png">
                    <h5 class="medium-header">Авторизация через Google</h5>
                </div>
            </div>
        </form>
    </div>
</div>