<div class="flex-centered">
    <div class="content">
        <form class="content__elements">
            <h4 class="big-header">Войти в личный кабинет</h4>
            <h5 class="small-header">Email пользователя</h5>
            <input #slectorEmail="ngModel" [(ngModel)]="email" name="email" class="authorize-input" type="email" placeholder="Email" required>
            <div class="valid-container" *ngIf="slectorEmail.invalid && slectorEmail.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header">Пароль пользователя</h5>
            <input #slectorPassword="ngModel" [(ngModel)]="password" name="password" class="authorize-input" type="password" placeholder="Пароль" required>
            <div class="valid-container" *ngIf="slectorPassword.invalid && slectorPassword.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <button (click)="login()" class="primary-authorize">
                <h5 class="medium-header">Войти</h5>
            </button>
            <button [routerLink]="['/registration']" class="secondary-authorize">
                <h5 class="medium-header">Зарегистрироваться</h5>
            </button>
            <div class="social-network">
                <div class="social-network__element">
                    <img class="google-image" src="assets/google.png">
                    <h5 class="medium-header">Авторизация через Google</h5>
                </div>
            </div>
        </form>
    </div>
</div>