<div class="page--flex-element">
    <div class="content">
        <div class="content--elements">
            <h6 class="big-header">Войти в личный кабинет</h6>
            <input class="authorize--input" type="email" placeholder="Email">
            <input class="authorize--input" type="password" placeholder="Пароль">
            <a class="forgot-password">Забыли пароль?</a>
            <button class="primary--authorize">
                <h5 class="medium-header">Войти</h5>
            </button>
            <button [routerLink]="['/registration']" class="secondary--authorize">
                <h5 class="medium-header">Зарегистрироваться</h5>
            </button>
            <div class="social-network--container">
                <div class="social-network--element">
                    <img src="assets/google.png">
                </div>
            </div>
        </div>
    </div>
</div>