a {
    margin-top: 17px;
}

.social-network--container {
    display: flex;
    justify-content: center;
}

.social-network--element {
    margin-top: 27px;
    padding: 11px;
    border: 2px solid var(--color-primary-text);
    border-radius: 5px;
}

.authorize--input {
    margin-top: 27px;
}