<div class="flex-centered">
    <div class="content">
        <div [routerLink]="['/confirm-list']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header -back">Подтверждение заявки</h5>
        </div>
        <h4 class="big-header -content">Заявка на аренду</h4>
        <div *ngIf="request.images.length != 0" class="content__gallery">
            <app-gallery [images]="request.images"></app-gallery>
        </div>
        <div class="content__elements">
            <div class="title-info">
                <h5 class="big-header">{{request.advertName}}</h5>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header -title">Заказчик:</h5>
                    </div>
                    <h5 class="medium-header -title">{{request.customerName}}</h5>
                </div>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header -title">Время:</h5>
                    </div>
                    <h5 *ngIf="startRent.getHours() == endRent.getHours()" class="medium-header -title">
                        {{datetimeService.convertDateToUTS(startRent.getDate())}}.{{datetimeService.convertDateToUTS(startRent.getMonth()+1)}}.{{startRent.getFullYear()}}
                        в {{datetimeService.convertDateToUTS(startRent.getHours())}}:00</h5>
                    <h5 *ngIf="startRent.getHours() != endRent.getHours()" class="medium-header -title">
                        {{datetimeService.convertDateToUTS(startRent.getDate())}}.{{datetimeService.convertDateToUTS(startRent.getMonth()+1)}}.{{startRent.getFullYear()}}
                        с {{datetimeService.convertDateToUTS(startRent.getHours())}}:00 до {{datetimeService.convertDateToUTS(endRent.getHours())}}:00</h5>
                </div>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header -title">Адрес доставки:</h5>
                    </div>
                    <h5 class="medium-header -title">{{request.address}}</h5>
                </div>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header -title">Телефон:</h5>
                    </div>
                    <h5 class="medium-header -title">{{request.phone}}</h5>
                </div>
            </div>
            <div class="vector"></div>
            <button *ngIf="!spinnerFlag" (click)="confirm(1)" class="primary-authorize">
                <h5 class="medium-header">Подтвердить</h5>
            </button>
            <button *ngIf="!spinnerFlag" (click)="confirm(2)" class="edit-button">
                <h5 class="medium-header">Отказать</h5>
            </button>
            <div *ngIf="spinnerFlag" class="load-spinner">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</div>