<div class="flex-container">
    <div class="content">
        <div [routerLink]="['/confirm-list']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Подтверждение заявки</h5>
        </div>
        <h6 class="big-header">Заявка №{{request.id}}</h6>
        <img class="technique-image" src="{{request.images[0].path}}">
        <div class="content__elements">
            <div class="title-info">
                <h6 class="big-header">{{request.advertName}}</h6>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header">Заказчик:</h5>
                    </div>
                    <h5 class="medium-header">{{request.customerName}}</h5>
                </div>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header">Время:</h5>
                    </div>
                    <h5 class="medium-header">{{date.getMonth()}}.{{date.getDate()}}.{{date.getFullYear()}} в {{date.getHours()}}:00</h5>
                </div>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header">Адрес доставки:</h5>
                    </div>
                    <h5 class="medium-header">{{request.address}}</h5>
                </div>
                <div class="request-info">
                    <div class="request-info__title">
                        <h5 class="medium-header">Телефон:</h5>
                    </div>
                    <h5 class="medium-header">{{request.phone}}</h5>
                </div>
            </div>
            <div class="vector"></div>
            <button (click)="Confirm(1)" class="primary-authorize">
                <h5 class="medium-header">Подтвердить</h5>
            </button>
            <button (click)="Confirm(2)" class="edit-button">
                <h5 class="medium-header">Отказать</h5>
            </button>
        </div>
    </div>
</div>
