<div class="flex-centered">
    <div class="content">
        <div class="content__elements">
            <h4 class="big-header -content">Личный кабинет</h4>
            <div class="menu">
                <div [routerLink]="['/my-adverts']" class="menu__hyperlink">
                    <h5 class="medium-header">Мои объявления</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
            <div class="menu">
                <div [routerLink]="['/advert-confirm']" class="menu__hyperlink">
                    <h5 class="medium-header">Подтверждения заявок</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
            <div class="menu">
                <div [routerLink]="['/advert-request']" class="menu__hyperlink">
                    <h5 class="medium-header">Исходящие заявки</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
            <div class="menu">
                <div [routerLink]="['/profile']" class="menu__hyperlink">
                    <h5 class="medium-header">Профиль</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
        </div>
    </div>
</div>
