<div class="flex-container">
    <div class="content">
        <div class="content__elements">
            <h6 class="big-header">Личный кабинет</h6>
            <div class="menu">
                <div [routerLink]="['/my-adverts']" class="menu__hyperlink">
                    <h5 class="medium-header">Мои объявления</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
            <div class="menu">
                <div [routerLink]="['/confirm-list']" class="menu__hyperlink">
                    <h5 class="medium-header">Подтверждения заявок</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
            <div class="menu">
                <div [routerLink]="['/my-requests']" class="menu__hyperlink">
                    <h5 class="medium-header">Исходящие заявки</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
            <div class="menu">
                <div [routerLink]="['/profile']" class="menu__hyperlink">
                    <h5 class="medium-header">Профиль</h5>
                    <img src="assets/right.png">
                </div>
                <div class="menu__vector"></div>
            </div>
        </div>
    </div>
</div>
