.footer {
    padding: 29px 36px;
    background: var(--color-secondary-button);

    &__contact {
        margin-bottom: 26px;
    }

    &__element {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
}

.primary-text {
    margin-left: 10px
}

.micro-text {
    margin-top: 10px;
}