.footer {
    display: flex;
    justify-content: center;
    padding: 29px 36px;
    background: var(--color-secondary-button);

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        width: 100%;
    }

    &__element {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.social-icon {
    margin-right: 26px;
}

.primary-text {
    margin-left: 10px
}

.micro-text {
    margin-top: 10px;
}

@media (max-width: 450px) {
    .footer {
        &__content {
            flex-direction: column;
            justify-content: baseline;
        }

        &__social {
            display: flex;
            justify-content: start;
            align-items: start;
        }

        &__contact {
            margin-bottom: 13px;
        }
    }

    .social-icon {
        margin-right: 13px;
    }
}