.footer {
    padding: 29px 36px;
    background: var(--color-secondary-button);
}

.footer__contact {
    margin-bottom: 26px;
}

.primary-text {
    margin-top: 15px;
}

.micro-text {
    margin-top: 0px;
}