<div class="footer">
    <div class="footer__content">
        <div class="footer__contact">
            <h5 class="medium-header">Наши контакты:</h5>
            <div class="footer__element">
                <img src="assets/octicon_location.png">
                <p class="primary-text">г. Йошкар-Ола, ул. Ленина 5</p>
            </div>
            <div class="footer__element">
                <img src="assets/lucide_mail.png">
                <p class="primary-text">avtopomoshnik@mail.ru</p>
            </div>
            <div class="footer__element">
                <img src="assets/lucide_phone.png">
                <p class="primary-text">+7 (999) 999 99 99</p>
            </div>
            <p class="micro-text">ежедневно с 9.00 до 21.00</p>
        </div>
        <div class="footer__social">
            <img class="social-icon" src="assets/vk-icon.png">
            <img src="assets/whatsapp-icon.png">
        </div>
    </div>
</div>