<div class="gallery">
  <div class="gallery__images-container">
    <img class="gallery__image" (touchstart)="touchStart($event)" (touchend)="touchEnd($event)"
      [ngClass]="{ '-active': isFirst }" *ngFor="let image of images; first as isFirst" src="{{ image.path }}"
      alt="Cтроительная техника" />
  </div>
  <div class="gallery__dots" *ngIf="images.length > 1">
    <div class="gallery__dot" *ngFor="let image of images; let currIndex = index"
      [ngClass]="{ '-active': currIndex == activeIndex }"></div>
  </div>
</div>