<div class="page">
    <app-header></app-header>
    <div class="page_container">
        <div class="page_flex-element">
            <div class="content">
                <div class="back_container">
                    <img src="assets/back-cursor.png">
                    <h5>Регистрация</h5>
                </div> 
                <div class="content_elements">
                    <input class="authorise_input" type="text" placeholder="Email">
                    <input class="authorise_input" type="text" placeholder="Пароль">
                    <input class="authorise_input" type="text" placeholder="Подтвердите пароль">
                    <input class="authorise_input" type="text" placeholder="ФИО">
                    <input class="authorise_input" type="text" placeholder="Телефон">
                    <button class="authorise-yellow">
                        <h5>Зарегистрироваться</h5>
                    </button>
                    <p class="micro-text">Нажимая на кнопку вы соглашаетесь с политикой конфиденциальности и даете согласие на обработку персональных данных.</p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
