<div class="page--flex-element">
    <div class="content">
        <div class="back--container">
            <img src="assets/back-cursor.png">
            <h5>Регистрация</h5>
        </div>
        <div class="content--elements">
            <input class="authorize--input" type="email" placeholder="Email">
            <input class="authorize--input" type="password" placeholder="Пароль">
            <input class="authorize--input" type="password" placeholder="Подтвердите пароль">
            <input class="authorize--input" type="text" placeholder="ФИО">
            <input class="authorize--input" type="tel" placeholder="Телефон" pattern="2-[0-9]{3}-[0-9]{3}">
            <button class="primary--authorize">
                <h5>Зарегистрироваться</h5>
            </button>
            <p class="micro-text">Нажимая на кнопку вы соглашаетесь с политикой конфиденциальности и даете согласие на
                обработку персональных данных.</p>
        </div>
    </div>
</div>