<div class="flex-centered">
    <article class="contacts">
        <h1 class="big-header -content">{{this.titleService.getTitle()}}:</h1>
        <div class="vector"></div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon" src="assets/octicon_location.png">
                <h1 class="big-header">Адрес</h1>                
            </div>
            <h2 class="medium-header -info">123242, г. Йошкар-Ола, ул. Ленина, дом 5, офис 2</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon" src="assets/lucide_phone.png">
                <h1 class="big-header">Телефон</h1>                
            </div>
            <h2 class="medium-header -info">+7 (999) 999 99 99</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon" src="assets/lucide_mail.png">
                <h1 class="big-header">Электронная почта</h1>                
            </div>
            <h2 class="medium-header -info">avtopomoshnik@mail.ru</h2>
        </div>
        <div class="vector"></div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/credit-card-6-xxl.png">
                <h1 class="big-header">Google карта</h1>                
            </div>
            <h2 class="medium-header -info">Ссылка на карту</h2>
        </div>
        <div class="vector"></div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/check-mark-3-xxl.png">
                <h1 class="big-header">Реквизиты</h1>                
            </div>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/home-5-xxl.png">
                <h1 class="big-header -paragraph">Наименование организации</h1>                
            </div>
            <h2 class="medium-header -info">Авто Помощник</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/location-xxl.png">
                <h1 class="big-header -paragraph">Юридический адрес</h1>                
            </div>
            <h2 class="medium-header -info">123242, г. Йошкар-Ола, ул. Ленина, дом 5, офис 2</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/text-file-2-xxl.png">
                <h1 class="big-header -paragraph">ИНН</h1>                
            </div>
            <h2 class="medium-header -info">11111</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/text-file-2-xxl.png">
                <h1 class="big-header -paragraph">КПП</h1>                
            </div>
            <h2 class="medium-header -info">11111</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/text-file-2-xxl.png">
                <h1 class="big-header -paragraph">ОГРН</h1>                
            </div>
            <h2 class="medium-header -info">11111</h2>
        </div>
        <div class="vector"></div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/bank-xxl.png">
                <h1 class="big-header">Банковские реквизиты</h1>                
            </div>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/bill-xxl.png">
                <h1 class="big-header -paragraph">Расчётный счёт</h1>                
            </div>
            <h2 class="medium-header -info">11111</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/bank-3-xxl.png">
                <h1 class="big-header -paragraph">Наименование банка</h1>                
            </div>
            <h2 class="medium-header -info">Сбербанк</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/bill-xxl.png">
                <h1 class="big-header -paragraph">БИК</h1>                
            </div>
            <h2 class="medium-header -info">11111</h2>
        </div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon -opacity" src="assets/bill-xxl.png">
                <h1 class="big-header -paragraph">Корреспондентский счёт</h1>                
            </div>
            <h2 class="medium-header -info">11111</h2>
        </div>
        <div class="vector"></div>
        <div class="contacts__element">
            <div class="contacts__head">
                <img class="contacts__icon" src="assets/octicon_calendar.png">
                <h1 class="big-header">Режим работы:</h1>                
            </div>
            <h2 class="medium-header -info">Пн - Пт с 08:00 до 19:00</h2>
            <h2 class="medium-header -info">Обед с 12:00 до 13:00</h2>
            <h2 class="medium-header -info">Сб - Вс выходные</h2>
            <p class="medium-header -info"><b>Внимание!</b> В праздничные дни, которые определены как нерабочие в РФ, компания не работает.</p>
        </div>
        <div class="vector"></div>
    </article>
</div>
