<div class="page--flex-element">
    <div class="content">
        <div class="back--container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Информация об объявлении</h5>
        </div>
        <img class="technique-image" src="assets/main-page-technique.png">
        <div class="content--elements">
            <div class="title-info">
                <h6 class="big-header">{{advert.name}}</h6>
                <h5 class="medium-header">Арендодатель: {{advert.userName}}</h5>
                <p class="primary-text">от {{advert.price}} ₽ / час</p>
            </div>
            <div class="vector"></div>
            <div class="title-info">
                <h5 class="medium-header">Описание</h5>
                <p class="primary-text">{{advert.description}}</p>
            </div>
            <button class="primary--authorize">
                <h5 class="medium-header">Арендовать</h5>
            </button>
        </div>
    </div>
</div>
