<div class="flex-centered">
    <div class="content">
        <div [routerLink]="['/advert-info']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header -back">Оформление аренды:</h5>
        </div>
        <form class="content__elements">
            <h4 class="small-header">Адрес доставки</h4>
            <input type="text" class="authorize-input" #slectorAddress="ngModel" [(ngModel)]="address" name="address"
                placeholder="Введите адрес" required>
            <div class="valid-container" *ngIf="slectorAddress.invalid && slectorAddress.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h4 class="small-header">Выберете время заказа</h4>
            <div class="select-container">
                <select class="select-filter" [(ngModel)]="currentTimeId" name="currentTimeId">
                    <option class="select-filter__option" *ngFor="let time of times" ngValue={{time.id}}>
                        {{datetimeService.convertDateToUTS(time.date.getDate())}}.{{datetimeService.convertDateToUTS(time.date.getMonth())}}.{{time.date.getFullYear()}}
                        в
                        {{datetimeService.convertDateToUTS(time.date.getHours())}}:00</option>
                </select>
            </div>
            <button (click)="createRequest()" class="primary-authorize">
                <h5 class="medium-header">Отправить заявку</h5>
            </button>
        </form>
    </div>
</div>