.authorize-input {
    margin-top: 12px;
}

.authorize-input + .small-header {
    margin-top: 20px;
}

.select-container {
    display: flex;
    flex-direction: column;
}

.select-filter {
    margin-top: 12px;
    padding: 15px;
    opacity: 1.0;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.select-filter__option {
    opacity: 1.0;
}