.authorize-input {
    margin-top: 12px;
}

.authorize-input + .small-header {
    margin-top: 20px;
}

.valid-container + .small-header {
    margin-top: 20px;
}

.select-container {
    display: flex;
    flex-direction: column;
}

.select-filter {
    margin-top: 12px;
    padding: 15px;
    opacity: 1.0;
    border: 2px solid rgba(255, 255, 255, 0.5);

    &__option {
        opacity: 1.0;
    }
}

.small-header.-time {
    margin-top: 20px;
}

.authorize-input {
    border: 1px solid var(--color-primary-button);
    color: var(--color-primary-button);
}

.authorize-input::-moz-placeholder {
    color: var(--color-primary-button);
}

.authorize-input::-webkit-input-placeholder {
    color: var(--color-primary-button);
}

.select-filter {
    border: 1px solid var(--color-primary-button);
    color: var(--color-primary-button);
}

.select-filter__option {
    color: var(--color-primary-button);
}

.content__fields {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) { 
    .content__elements {
        align-items: center;
    }

    .content__fields {
        width: 400px;
    }
}

@media (min-width: 600px) {
    .content__fields {
        margin-top: 30px;
        margin-bottom: 30px;
        background: #373737;
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding: 50px;
    }
}