.authorize-input {
    margin-top: 12px;
}

.authorize-input + .small-header {
    margin-top: 20px;
}

.valid-container + .small-header {
    margin-top: 20px;
}

.select-container {
    display: flex;
    flex-direction: column;
}

.select-filter {
    margin-top: 12px;
    padding: 15px;
    opacity: 1.0;
    border: 2px solid rgba(255, 255, 255, 0.5);

    &__option {
        opacity: 1.0;
    }
}

.small-header.-time {
    margin-top: 20px;
}

.authorize-input {
    border: 1px solid var(--color-primary-button);
    color: var(--color-primary-button);
}

.authorize-input::-moz-placeholder {
    color: var(--color-primary-button);
}

.authorize-input::-webkit-input-placeholder {
    color: var(--color-primary-button);
}

.select-filter {
    border: 1px solid var(--color-primary-button);
    color: var(--color-primary-button);
}

.select-filter__option {
    color: var(--color-primary-button);
}