<div class="page">
    <app-header></app-header>
    <div class="page_container">
        <div class="page_flex-element">
            <div class="content">
                <div class="content_elements">
                    <h6>Войти в личный кабинет</h6>
                    <input class="authorise_input" type="text" placeholder="Email">
                    <input class="authorise_input" type="text" placeholder="Пароль">
                    <h4>Забыли пароль?</h4>
                    <button class="primary-authorise">
                        <h5>Войти</h5>
                    </button>
                    <button class="secondary-authorise">
                        <h5>Зарегистрироваться</h5>
                    </button>
                    <div class="google_container">
                        <div class="google_element">
                            <img src="assets/google.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
