.authorize-input {
    height: 45px;
    padding: 0px 20px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: var(--color-primary-text);
    background: transparent;
}

.authorize-input::-moz-placeholder {
    color: var(--color-primary-text);
}

.authorize-input::-webkit-input-placeholder {
    color: var(--color-primary-text);
}

.primary-authorize {
    margin-top: var(--margin-top-button);
    padding: var(--padding-button);
    border-radius: 5px;
    border: 0;
    background: var(--color-primary-button);
}

.primary-authorize:active {
    background: var(--color-hover-primary);
}

.primary-authorize .medium-header {
    text-align: center;
    font-weight: 600;
    color: var(--color-secondary-button);
}

.secondary-authorize {
    margin-top: var(--margin-top-button);
    padding: var(--padding-button);
    border-radius: 5px;
    border: 0;
    background: var(--color-secondary-button);
}

.secondary-authorize:active {
    background: var(--color-option-select);
}

.select-filter {
    margin-top: 26px;
    padding: 9px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
    border-radius: 5px;
    background: transparent;
    color: var(--color-primary-text);
}

.select-filter__option {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 0px;
    background: var(--color-option);
    color: var(--color-primary-text);
}

.select-filter__option:hover {
    opacity: 0.5;
    border-radius: 0px;
    background: var(--color-option-select);
}

.primary-authorize .primary-text {
    font-weight: 600;
    color: var(--color-option-select);
}

.authorize-input+.small-header {
    margin-top: 16px;
}

.advert-textarea {
    height: 120px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 20px 20px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: var(--color-primary-text);
    background: transparent;
}

.advert-textarea+.small-header {
    margin-top: 16px;
}

.edit-button {
    margin-top: var(--margin-top-button);
    padding: var(--padding-button);
    opacity: 0.8;
    border-radius: 5px;
    border: 2px solid var(--color-primary-button);
    background: transparent;
}

.edit-button:active {
    background: var(--color-hover-primary);
}

.edit-button .medium-header {
    text-align: center;
    font-weight: 600;
    color: var(--color-primary-button);
}