.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: var(--color-primary-text) !important;
}

.mat-datepicker-content {
    background-color: var(--color-option-select) !important;
}

.mat-calendar-body-cell-content,
.mat-date-range-input-separator {
    color: var(--color-primary-text) !important;
}

.mat-calendar-table-header,
.mat-calendar-body-label {
    color: var(--color-primary-button) !important;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
    color: var(--color-primary-text) !important;
}

.mat-calendar-table-header-divider::after {
    background: var(--color-primary-button) !important;
}

.mat-calendar-arrow {
    fill: var(--color-primary-text) !important;
}

.mat-calendar-body-selected {
    background-color: var(--color-primary-button) !important;
}

.mat-calendar-body-in-range::before {
    background-color: var(--color-hover-primary) !important;
}

.timepicker__header {
    background-color: var(--color-primary-button) !important;
}

.timepicker__actions {
    background-color: var(--color-option-select) !important;
}

.timepicker-button {
    color: var(--color-primary-button) !important;
}

.timepicker__body {
    background-color: var(--color-option) !important;
}

.timepicker-dial__control {
    color: rgba(255,255,255) !important;
}

.clock-face {
    background-color: var(--color-background) !important;
}

.clock-face__number span {
    color: var(--color-primary-text) !important;
}

.clock-face__number span.active {
    background-color: var(--color-primary-button) !important;
}

.clock-face__clock-hand {
    background-color: var(--color-primary-button) !important;
}

.clock-face__clock-hand_minute:before {
    border-color: var(--color-primary-button) !important;
}