.primary-authorize {
    margin-top: 0px;
    margin-bottom: 10px;
}

.filter-group {
    margin-top: 10px;
}

.property-filter {
    display: none;
}

.micro-text.-desktop {
    display: none;
}

.date-picker {
    margin-top: 12px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0 0 8px 0;

    &__element {
        color: var(--color-primary-text);
    }
}

.authorize-input {
    margin-top: 12px;
    
    &.-left {
        margin-right: 20px;
    }
}

.time-picker {
    display: flex;
}

.time-picker .authorize-input {
    width: 100%;
}

.date-picker + .small-header {
    margin-top: 12px;
}

.time-picker + .small-header {
    margin-top: 12px;
}

.secondary-authorize {
    margin-top: 12px;
    margin-bottom: 12px;
}

.-filterhide {
    display: none;
}

.valid-container {
    margin-bottom: 12px;
}

.edit-button {
    margin-top: 12px;
}

.primary-authorize.-filter {
    margin-top: 12px;
}

@media (min-width: 500px) {

    .list-section__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primary-authorize {
        min-width: 450px;
    }

    .select-filter {
        min-width: 400px;
    }

    .micro-text {
        margin-top: 10px;
        font-size: 12px;

        &.-desktop {
            display: block;
            margin-bottom: 13px;
        }
    }
}

@media (min-width: 780px) {
    .list-section {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        background: #373737;
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
    }

    .property-filter {
        display: flex;
        flex: 3;
        margin-right: 20px;
        flex-direction: column;
        padding: 20px;
    }

    .list-section__content {
        flex: 2;
        align-items: stretch;
    }

    .filter {
        display: none;
    }

    .primary-authorize {
        min-width: 0;
        margin-bottom: 0;
    }

    .filter-group {
        justify-content: center;
    }

    .select-filter {
        width: 100%;
        min-width: 0;
    }
}