.technique-type_list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.technique-type_group {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.technique-type_element {
    display: flex;
    width: 140px;
    height: 140px;
    flex-direction: column;
    background: #E8E8E8;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 18px;
}

.technique-type_element h4 {
    color: var(--color-secondary-button);
    text-align: center;
    font-weight: 600;
}

.technique-type_element img + h4 {
    margin-top: 15px;
}