.advert {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 22px;

    &__line {
        border: 1px solid rgba(22, 22, 22, 0.3);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
    }

    &__rating {
        display: flex;
        margin-bottom: 10px;
    }

    &__star {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &__image {
        flex: 2;
        border-radius: 5px;
        object-fit: cover;
        min-width: 129px;
        height: 150px;
    }

    &__elements {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 17px;
    }

    &__text {
        width: 170px;
    }
}

@media (max-width: 380px) {
    
    .advert__content {
        flex-direction: column;
    }

    .advert__rating {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .advert__image {
        flex: none;
        width: 100%;
        height: 100%;
    }

    .advert__elements {
        flex: none;
        width: 100%;
        margin-left: 0px;
    }

    .advert__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .medium-header {
        margin-top: 10px;
        margin-right: 5px;
    }

    .primary-text {
        font-size: 18px;
    }

    .small-header {
        text-align: end;
    }
}

@media (min-width: 450px) {

    .advert {
        align-items: center;

        &__line {
            width: 100%;
        }

        &__content {
            flex-direction: column;    
            align-items: stretch;
            max-width: 350px;
        }

        &__rating {
            margin-top: 10px;
            margin-bottom: 0px;
        }
        
        &__image {
            flex: 1;
            width: 100%;
            height: 100%;
        }

        &__elements {
            flex: none;
            width: 100%;
            margin-left: 0px;
        }

        &__text {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .medium-header {
        margin-top: 10px;
    }

    .primary-text {
        font-size: 18px;
    }

    .small-header {
        text-align: end;
    }
}

.medium-header {
    color: var(--color-primary-button);
}

.micro-text {
    margin-top: 10px;
    font-size: 12px;
}

.small-header {
    margin-top: 10px;

    &.-time {
        opacity: 0.7;
    }
}

.primary-text.-edit {
    color: var(--color-primary-button);
}