<p class="micro-text">Показано {{advertList.length}} объявления</p>
<div class="advert--container" *ngFor="let advert of advertList">
    <div class="advert--line"></div>
    <div class="advert--content">
        <img class="advert--image" src="assets/main-page-technique.png">
        <div class="advert--elements">
            <div class="advert--text-container">
                <h5 class="medium-header">{{advert.name}}</h5>
                <p class="micro-text">от {{advert.price}} ₽ / час</p>
            </div>
            <button (click)="GetAdvertInfo(advert.id)" *ngIf="page == 'list'" class="primary--authorize">
                <p class="primary-text">Арендовать</p>
            </button>
            <button *ngIf="page != 'list'" class="primary--authorize">
                <p class="primary-text">Подробнее</p>
            </button>
        </div>
    </div>
</div>