<p class="micro-text">Показано {{advertList.length}} объявления</p>
<div class="advert--container" *ngFor="let advert of advertList">
    <div class="advert--line"></div>
    <div class="advert--content">
        <img class="advert--image" src="{{advert.images[0].path}}">
        <div class="advert--elements">
            <div class="advert--text-container">
                <h5 class="medium-header">{{advert.name}}</h5>
                <h4 class="small-header">от {{advert.price}} ₽ / час</h4>
            </div>
            <button (click)="GetAdvertInfo(advert.id)" *ngIf="page == 'list'" class="primary--authorize">
                <p class="primary-text">Арендовать</p>
            </button>
            <button (click)="GetAdvertInfo(advert.id)" *ngIf="page == 'my'" class="edit--button">
                <p class="primary-text">Подробнее</p>
            </button>
        </div>
    </div>
</div>