.advert {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 22px;

    &__line {
        border: 1px solid rgba(22, 22, 22, 0.3);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
    }

    &__rating {
        display: flex;
        margin-bottom: 10px;
    }

    &__star {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &__image {
        flex: 2;
        border-radius: 5px;
        object-fit: cover;
        min-width: 129px;
        height: 150px;
    }

    &__elements {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 17px;
    }

    &__text {
        width: 170px;
    }
}

.-list-button {
    margin-top: 13px;
}

.medium-header {
    color: var(--color-primary-button);

    &.-desktop {
        display: none;
    }
}

.micro-text {
    margin-top: 10px;
    font-size: 12px;
}

.small-header {
    margin-top: 5px;

    &.-time {
        opacity: 0.7;
    }
}

.primary-text.-edit {
    color: var(--color-primary-button);
}

.advert__line.-desktop {
    display: none;
    width: 100%;
    margin-bottom: 15px;
}


@media (max-width: 400px) {
    .advert {
        &__text {
            width: 150px;
        }
    }
}

@media (max-width: 370px) {
    .advert {
        &__text {
            width: 140px;
        }

        &__elements {
            margin-left: 10px;
        }
    }
}

@media (max-width: 320px) {
    .advert__content {
        flex-direction: column;
    }

    .advert__rating {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .advert__image {
        flex: none;
        width: 100%;
        height: 100%;
    }

    .advert__elements {
        flex: none;
        width: 100%;
        margin-left: 0px;
    }

    .advert__text {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
    }

    .medium-header {
        margin-top: 10px;
        margin-right: 10px;

        &.-desktop {
            display: block;
        }

        &.-mobile {
            display: none;
        }
    }

    .primary-text {
        font-size: 18px;
    }

    .edit-button {
        font-size: 18px;
    }

    .small-header {
        text-align: end;
        margin-top: 10px;

        &.-time {
            text-align: start;
        }
    }
}

@media (min-width: 450px) {

    .advert-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advert {
        width: 250px;
        flex-direction: row;
        margin: 10px 13px;
    }
    
    .advert__content {
        flex-direction: column;
        justify-content: space-between;
    }

    .advert__rating {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .advert__image {
        flex: none;
        width: 250px;
        height: 187.5px;
    }

    .advert__elements {
        flex: 1;
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }

    .advert__text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .medium-header {
        margin-top: 10px;
        margin-right: 10px;

        &.-desktop {
            display: block;
        }

        &.-mobile {
            display: none;
        }
    }

    .primary-text {
        font-size: 18px;
    }

    .primary-authorize {
        margin-top: 13px;
    }

    .edit-button {
        margin-top: 13px;
    }

    .small-header {
        text-align: end;
        margin-top: 10px;

        &.-time {
            text-align: start;
            margin-top: 5px;
        }
    }

    .advert__line {
        &.-mobile {
            display: none;
        }

        &.-desktop {
            display: block;
        }
    }
}

@media (min-width: 500px) {
    .micro-text {
        &.-mobile {
            display: none;
        }
    }
}