.big-header {
    text-align: center;
    font-size: 18px;
}

.authorize-input {
    margin-top: 12px;
}

.big-header + .small-header {
    margin-top: 20px;
}

.valid-container + .small-header {
    margin-top: 16px;
}

.primary-authorize {
    margin-top: 40px;
}

.date-picker {
    margin-top: 12px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0 0 8px 0;

    &__element {
        color: var(--color-primary-text);
    }
}

.small-header.-transparent {
    opacity: 0.7;
}

.date-picker + .small-header {
    margin-top: 20px;
}

.small-header + .small-header {
    margin-top: 5px;
}

ngx-material-timepicker + .small-header {
    margin-top: 15px;
}

.advert__sections {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) { 
    .content__elements {
        align-items: center;
    }

    .advert__sections {
        width: 400px;
    }
}

@media (min-width: 600px) {
    .advert__sections {
        margin-top: 30px;
        margin-bottom: 30px;
        background: #373737;
        box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding: 50px;
    }
}