<div class="page--flex-element">
    <div class="content">
        <div class="back--container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Исходящая заявка</h5>
        </div>
        <h6 class="big-header">Заявка №1</h6>
        <img class="technique-image" src="assets/main-page-technique.png">
        <div class="content--elements">
            <div class="title-info">
                <h6 class="big-header">Автовышка АПТ-32</h6>
                <div class="request-info--container">
                    <div class="request-info--title">
                        <h5 class="medium-header">Арендодатель:</h5>
                    </div>
                    <h5 class="medium-header">Артём</h5>
                </div>
                <div class="request-info--container">
                    <div class="request-info--title">
                        <h5 class="medium-header">Время:</h5>
                    </div>
                    <h5 class="medium-header">15 июля 8:00</h5>
                </div>
                <div class="request-info--container">
                    <div class="request-info--title">
                        <h5 class="medium-header">Состояние заявки:</h5>
                    </div>
                    <h5 class="medium-header">Ожидается подтверждение</h5>
                </div>
                <div class="request-info--container">
                    <div class="request-info--title">
                        <h5 class="medium-header">Адрес доставки:</h5>
                    </div>
                    <h5 class="medium-header">ул. Прохорова 15</h5>
                </div>
                <div class="request-info--container">
                    <div class="request-info--title">
                        <h5 class="medium-header">Телефон:</h5>
                    </div>
                    <h5 class="medium-header">89027434477</h5>
                </div>
            </div>
            <div class="vector"></div>
            <button class="edit--button">
                <h5 class="medium-header">Удалить заявку</h5>
            </button>
        </div>
    </div>
</div>