.footer {
    padding: 29px 36px;
    background: var(--color-secondary-button);
}

.footer--contact-container {
    margin-bottom: 26px;
}

.footer--contact-container  p {
    margin-top: 15px;
}

.footer--contact-container .micro-text {
    margin-top: 0px;
}