.header {
    display: flex;
    flex-direction: column;
    padding: 19px 28px;
    background: var(--color-secondary-button);
}

.header--sidenav {
    padding: 20px;
}

.header--logo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.header--seach-form {
    display: inline-flex;
    padding: 10px;
    border: 1px solid black;  
    border-radius: 5px;
    background: var(--color-primary-text);
}

.header--search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
}

.header--seach {
    margin-left: 20px;
    width: 100%;
    font-size: 16px;
    border: 0; 
    color: var(--color-secondary-button);
    background: transparent;
}