<div class="header">
    <div class="header--logo-container">
        <img (click)="SidenavEvent()" src="assets/menu.png">
        <img [routerLink]="['/']" src="assets/logo.png">
        <img *ngIf="!accountService.userFlag" [routerLink]="['/authorize']" src="assets/account.png">
        <div *ngIf="accountService.userFlag" class="account-ellipse" [routerLink]="['/profile']">
            <h6 class="big-header">{{[this.accountService.authorize.name[0]]}}</h6>
        </div>
    </div>
    <form class="header--seach-form">
        <input [style.margin-left]="visibility==true?'0px':'20px'" (focus)="FocusIn()" (focusout)="FocusOut()" type="search" class="header--seach" placeholder="Найти лучшую технику">
        <img [style.display]="visibility==false?'block':'none'" src="assets/search-icon.png" class="header--search-icon">
    </form>
</div>