<div class="flex-centered">
    <div class="content">
        <div [routerLink]="['/profile']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Редактирование профиля</h5>
        </div>
        <form class="content__elements">
            <h5 class="small-header">Email пользователя</h5>
            <input #slectorEmail="ngModel" [(ngModel)]="user.email" name="email" class="authorize-input" type="email" placeholder="Email" required>
            <div class="valid-container" *ngIf="slectorEmail.invalid && slectorEmail.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header">Пароль пользователя</h5>
            <input #slectorPassword="ngModel" [(ngModel)]="password" name="password" class="authorize-input" type="password" placeholder="Пароль" required>
            <div class="valid-container" *ngIf="slectorPassword.invalid && slectorPassword.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header">Повторите пароль</h5>
            <input #slectorConfirm="ngModel" [(ngModel)]="confirm_password" name="confirm_password" class="authorize-input" type="password" placeholder="Подтвердите пароль" required>
            <div class="valid-container" *ngIf="slectorConfirm.invalid && slectorConfirm.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header">Фамилия Имя Отчество</h5>
            <input #slectorName="ngModel" [(ngModel)]="user.name" name="name" class="authorize-input" type="text" placeholder="ФИО" required>
            <div class="valid-container" *ngIf="slectorName.invalid && slectorName.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <h5 class="small-header">Номер телефона</h5>
            <input #slectorPhone="ngModel" [(ngModel)]="user.phone" name="phone" class="authorize-input" type="tel" placeholder="Телефон" pattern="2-[0-9]{3}-[0-9]{3}" required>
            <div class="valid-container" *ngIf="slectorPhone.invalid && slectorPhone.touched">
                <img class="valid-container__image" src="assets/valid_mark.png">
                <p class="valid-container__text">Обязательное поле для заполнения</p>
            </div>
            <button class="primary-authorize" (click)="edit()">
                <h5 class="medium-header">Подвердить изменения</h5>
            </button>
            <p class="micro-text">Нажимая на кнопку вы соглашаетесь с политикой конфиденциальности и даете согласие на
                обработку персональных данных.</p>
        </form>
    </div>
</div>
