.icon-container {
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.icon-container .medium-header {
    margin-left: 18px;
}

.edit-button {
    margin-top: 31px;
}

.secondary-authorize {
    margin-top: 31px;
}