<div class="flex-centered">
    <div class="content">
        <div [routerLink]="['/private-area']" class="back-container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header -back">Профиль пользователя</h5>
        </div>
        <div class="content__elements">
            <h4 class="big-header -content">{{user.name}}</h4>
            <div class="icon-container">
                <img src="/assets/lucide_mail.png">
                <h5 class="medium-header">{{user.email}}</h5>
            </div>
            <div class="icon-container">
                <img src="assets/lucide_phone.png">
                <h5 class="medium-header">{{user.phone}}</h5>
            </div>
            <button [routerLink]="['/profile/edit']" class="edit-button">
                <h5 class="medium-header">Редактировать</h5>
            </button>
            <button (click)="logout()" class="secondary-authorize">
                <h5 class="medium-header">Выйти</h5>
            </button>
        </div>
    </div>
</div>
