<div class="page--flex-element">
    <div class="content">
        <div class="back--container">
            <img src="assets/back-cursor.png">
            <h5 class="medium-header">Профиль пользователя</h5>
        </div>
        <div class="content--elements">
            <h6 class="big-header">{{user.name}}</h6>
            <div class="icon--container">
                <img src="/assets/lucide_mail.png">
                <h5 class="medium-header">{{user.email}}</h5>
            </div>
            <div class="icon--container">
                <img src="assets/lucide_phone.png">
                <h5 class="medium-header">{{user.phone}}</h5>
            </div>
            <button class="edit--button">
                <h5 class="medium-header">Редактировать</h5>
            </button>
            <button class="secondary--authorize">
                <h5 class="medium-header">Выйти</h5>
            </button>
        </div>
    </div>
</div>
